@import "base";

.circle1,
.circle2 {
    background: rgba($color: #ffffff, $alpha: 0.5);
    background: linear-gradient(to bottom right, white, rgba(255, 255, 255, 0.5));
    border-radius: 50%;
    position: fixed;
    overflow: hidden;
    z-index: -1;
}

.circle1 {
    height: 17.5rem;
    width: 17.5rem;
    top: -7%;
    right: -7%;
}

.circle2 {
    height: 13.5rem;
    width: 13.5rem;
    left: -8%;
    bottom: 15%;
}

.page-nav ul li a svg,
.page-nav ul li button svg {
    fill: #518ce8;
}

@media only screen and (max-width: 1280px) {
    .page-nav {
        z-index: 1;
        position: fixed;
        height: 4.5rem;
        background: white;
        bottom: 0;
        left: 0;
        width: 100%;
        box-shadow: 0px 15px 4px 20px rgba(0, 0, 0, 0.25);
        #current-link {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            div {
                display: flex;
                align-items: center;
                padding: 0 0.75rem;
                svg {
                    margin-right: 0.75rem;
                    width: 50px;
                    height: 50px;
                }
            }
            button {
                background: transparent;
                border: none;
                margin: 0 0.75rem;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    #nav-links {
        position: absolute;
        bottom: 4.5rem;
        left: 0;
        list-style: none;
        padding-left: 0;
        width: 100%;
        background: white;
        li {
            a,
            button {
                font-size: 1.5rem;
                font-family: "Poppins", "sans-serif";
                display: flex;
                align-items: center;
            }
            padding: 0.3rem 0;
            svg {
                width: 40px;
                margin: 0 1rem;
            }
        }
        transition: opacity 150ms;
    }
    .hidden {
        opacity: 0;
        pointer-events: none;
    }
    body.dark {
        #current-link {
            background: #121212;
        }
        .nav-link {
            background: #121212;
        }
    }
}

#theme {
    background: transparent;
    border: none;
}

.active {
    background: rgba($color: white, $alpha: 0.6);
    transition: 200ms;
}

.social {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        margin-left: 1.5rem;
    }
    svg {
        width: 60px;
        height: 60px;
    }
    &:hover {
        opacity: 0.8;
        transition: 150ms;
    }
}

.github {
    a {
        color: white;
        background: #121212;
        padding: 0.5rem 1rem;
        border-radius: 10px;
    }
}

.itch {
    a {
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background: #fa5c5c;
    }
}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content {
    width: 97%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba($color: #ffffff, $alpha: 0.5);
    backdrop-filter: blur(50px);
    border-radius: 15px;
    .side {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h3 {
            color: #596eff;
            text-align: center;
        }
    }
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: white;
        background: linear-gradient(to bottom left, white, rgba($color: white, $alpha: 0.65));
        border-radius: 15px;
        padding: 2rem;
        h2 {
            text-align: center;
        }
    }
    p,
    h2,
    h3 {
        margin: 0.5rem 0;
    }
}

.card {
    margin: 1rem 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top right, rgba($color: white, $alpha: 0.5), white);
    padding: 0.5rem;
    border-radius: 10px;
    h4 {
        font-size: 1.5rem;
        color: #51dbe8;
        text-align: center;
    }
    .card-content {
        padding-top: 0.5rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        display: flex;
        justify-content: space-evenly;
    }
    svg,
    img {
        max-width: 60px;
        max-height: 60px;
        &:hover {
            opacity: 0.8;
            transition: 150ms;
        }
    }
    a {
        margin-top: auto;
        margin-left: 1rem;
        img {
            width: 50px;
            height: 50px;
            &:hover {
                opacity: 0.8;
                transition: 100ms;
            }
        }
    }
    .project-links {
        display: flex;
        justify-content: flex-end;
        a {
            padding: 0.3rem 0.5rem;
        }
        .psd {
            margin-right: auto;
            padding-left: 0;
            margin-left: 0;
        }
    }
}

#page-header h2 {
    text-align: left;
}

#contact .main {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input,
    textarea {
        width: 100%;
        margin: 0.5rem 0;
        font-family: "Poppins", "sans-serif";
        font-size: 1.5rem;
        border-radius: 10px;
        border: 2px solid #51dbe8;
        padding: 0.5rem;
        &:focus {
            outline: none;
            border-color: #518ce8;
        }
    }
    textarea {
        resize: none;
    }
    .send {
        cursor: pointer;
        position: absolute;
        bottom: 15px;
        right: 15px;
        background: #518ce8;
        color: white;
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;
        font-weight: 600;
        transition: 100ms;
        width: unset;
        &:focus,
        &:hover {
            background: #51dbe8;
        }
    }
}

.mail {
    margin: 1rem 0;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
    background: #51dbe8;
    color: white;
    font-family: "Poppins", "sans-serif";
    font-weight: 600;
    font-size: 1.5rem;
    transition: 100ms;
    &:hover,
    &:focus {
        background: #518ce8;
        outline: none;
    }
}

.page-footer .section-content .main {
    width: 100%;
    .haha-funny {
        font-weight: bold;
    }
    a {
        text-decoration: underline;
    }
}

@media only screen and (min-width: 800px) {
    @import "small";
}

@media only screen and (min-width: 1280px) {
    @import "medium";
}

@media only screen and (min-width: 1800px) {
    @import "large";
}

body.dark {
    background: #121212;

    * {
        box-shadow: none;
    }

    p,
    li,
    a,
    span,
    div,
    strong {
        color: white;
    }

    .page-nav {
        background: rgba($color: #000000, $alpha: 0.4);
    }

    .active {
        background: rgba($color: #000000, $alpha: 0.6);
    }

    .main {
        background: linear-gradient(to top right, black, rgba($color: black, $alpha: 0.5));
    }

    .section-content {
        background: rgba($color: black, $alpha: 0.5);
    }

    .circle1,
    .circle2 {
        background: linear-gradient(to bottom right, rgb(60, 60, 60), rgba($color: black, $alpha: 0.5));
    }

    .card {
        background: linear-gradient(to top right, rgba($color: black, $alpha: 0.5), black);
    }

    h2,
    h1 {
        color: #65c9ff;
    }

    h3 {
        color: #51dbe8;
    }

    .side h3 {
        color: #65c9ff;
    }

    .avatar {
        filter: brightness(85%);
    }

    .page-nav {
        background: rgba($color: black, $alpha: 0.4);
    }

    .page-nav ul li a svg,
    .page-nav ul li button svg {
        fill: #65c9ff;
    }

    #current-link-img svg {
        fill: #65c9ff;
    }

    .contact-form {
        input,
        textarea {
            background: #121212;
            color: white;
        }
        .send {
            background: #65c9ff;
            &:hover,
            &:focus {
                background: #518ce8;
            }
        }
    }

    .social:hover {
        opacity: 1;
        filter: brightness(135%);
    }

    .github {
        svg {
            fill: rgb(60, 60, 60);
        }
    }
    .card svg {
        fill: white;
    }

}
